.form-container{
    min-height: calc(100vh - 150px);
    width: 50%;
    margin-top: 25px;
    .image-preview{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 1px solid black;
    }
}