.contact-card{
    margin: 10px;
    background: lightgray;
    border: 1px solid black;
    .mt-b-15{
        margin-top: 15px;
        margin-bottom: 15px;
        .line-center{
            margin: auto;
            text-align: center;
        }
        .star{
            font-size: 35px;
        }
        .user-profile{
            font-size: 60px;
            position: relative;
            bottom: 8px;
        }
        .user-info{
            font-weight: 600;
            font-size: 18px; 
            .text-color{
                color: #2980b9;
            }
        }
        
        .delete{
            background: red;
            color: #ffffff;
        }
        .edit{
            background: blue;
            color: #ffffff;
        }
    }
   
    
}
.btn{        
    border: none;
    padding: 5px 20px;
    font-weight: 600;
}
.add-container {
    margin-top: 10px;
    text-align: right;
    .add{
        background: #27ae60;
        color: #ffffff;
       
    }
}
