.header-container {
    background: #3498db;
    color: #ffffff;
    padding:  20px;
    height: 100px;
    .main-header {
        font-size: 40px;
        font-weight: 600;
    }
    .sub-header {
        font-size: 20px;
        font-weight: 600;
        float: right;
        line-height: 68px;
    }
}